<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>KJs</title>
	<style type="text/css">
		html {
			position: relative;
			min-height: 100%;
		}
		body{
			margin-bottom: 60px;
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			/* Set the fixed height of the footer here */
			height: 60px;
			background-color: #f5f5f5;
		}
	</style>
</head>
<body>
	{{ include('layout/navbar.twig') }}
	<div class="container">
		{% block content %}

		{% endblock %}
		<script src="{{ asset('js/script.js') }}"></script>
	</div>
	{{ include('layout/footer.twig') }}
</body>
</html>
